@import 'fonts.css';

:root {
    font-family: 'Orbitron', sans-serif;
    --main-bg-color: hsl(255, 20%, 20%);
    --main-outline-color: hsl(30, 100%, 70%);
    --head-bg-color: hsl(255, 20%, 50%);
    --form-bg-color: hsl(255, 20%, 70%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Header styles*/
nav {
    background-color: var(--head-bg-color);
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px double var(--main-outline-color);
}

.header {
    font-size: 64px;
    font-weight: bold;
    color:hsl(30, 100%, 60%);
}

nav a {
    text-decoration: none;
    color: var(--main-outline-color);
    justify-self: flex-start;
    align-self: flex-start;
}

nav a:hover {
    color: hsl(30, 100%, 85%);
}

.last-header-links a {
    margin-left: 4px;
}

/*Main content styles*/
.grid-size,
.etch-a-sketch,
.sketch-color,
.btn-clear {
    box-shadow: 1px 1px 4px var(--head-bg-color);
}

.main-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.content-container {
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(3, 16vw);
    grid-template-rows: minmax(16vw, auto), minmax(16vw, auto), auto;
    justify-content: center;
    column-gap: 64px;
    row-gap: 32px;
}

.grid-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px ridge var(--head-bg-color);
    border-radius: 20px;
    background-color: var(--form-bg-color);
}

.grid-size-head-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-size-head {
    text-align: center;
    font-size: 18px;
    color: var(--main-bg-color);
    font-weight: bold;
    padding: 16px;
    margin: 0 16px;
    box-shadow: 0 0 10px var(--main-bg-color);
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.input {
    width: 54px;
    aspect-ratio: 2;
    font-size: 16px;
    padding: 4px;
    border: 4px ridge var(--head-bg-color);
    border-radius: 5px;
    color: var(--main-bg-color)
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.submit {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border: 4px ridge var(--head-bg-color);
    border-radius: 5px;
    color: var(--main-bg-color)
}

.warning-msg {
    font-size: 14px;
    text-align: center;
    color: hsl(0, 100%, 40%);
    padding: 0 16px;
}



.etch-a-sketch {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    border: 15px ridge var(--head-bg-color);
    border-radius: 10px;
    aspect-ratio: 1;
    display: grid;
    background-color: white;
}

.grid-item {
    border: 1px dotted gray;
}


.sketch-color {
    border: 15px ridge var(--head-bg-color);
    border-radius: 15px;
    background-color: var(--form-bg-color);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sketch-color-head {
    padding: 16px 16px;
    margin: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-bg-color);
}

.color-grid-container {
    padding: 16px;
    display: grid;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, 3vw);
    
}

.btn-color {
    width: 2vw;
    aspect-ratio: 1;
    place-self: center;
    border: 4px ridge white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--main-bg-color);
}

.btn-opacity {
    background-color:black;
    opacity: 40%;
}

.btn-black {
    background-color: black;
}

.btn-red {
    background-color: red;
}

.btn-orange {
    background-color: orange;
}

.btn-yellow {
    background-color: yellow;
}

.btn-green {
    background-color: green;
}

.btn-cyan {
    background-color: cyan;
}

.btn-blue {
    background-color: blue;
}

.btn-purple {
    background-color: purple;
}

.btn-clear {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: flex-end;
    align-self: flex-start;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    border: 6px ridge var(--head-bg-color);
    border-radius: 10px;
    color: var(--main-bg-color)
}


/*Footer styles*/
.footer-container {
    background-color: hsl(255, 20%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    border-top: 6px double var(--main-outline-color);
}

.footer-content {
    padding: 8px;
    color: var(--main-outline-color);
}